.main {
  padding: 20px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, auto); */
  grid-gap: 10px;
  grid-template-areas: 
    "homeinterface usersinterface"
    "homeinterface usersinterface"
  ;
}

.homeinterface {
  grid-area: homeinterface;
  color: white;
  border: 1px solid red;
  display: grid;
}

.usersinterface {
  grid-area: usersinterface;
  border-radius: 10px;
}

.my-grid {
  border: 1px solid red;
  margin: auto;
  display: grid;
  /* grid-template-columns: repeat(1, 1fr); */
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  grid-template-areas: 
    "section-one"
    "section-two"
    "section-three"
  ;
}

.section-one {
  grid-area: section-one;
}
.section-two {
  grid-area: section-two;
}
.section-three {
  grid-area: section-three;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 4px;
  justify-items: center;
}
.icons-subgrid {
  width: 100px;
  height: auto;
  text-align: center;
}

.icon-background {
  /* margin: 0; */
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
}

.icon-name {
  /* margin: 0; */
  text-align: left;
}

.all-users {
  background-color: palevioletred;
}
.male-users {
  background-color: blue;
}
.female-users {  
  background-color: purple;
}




.search-container {
  border: 1px solid red;
  width: 100%;
}

.search-form {
  background-color:  rgba(136, 170, 170, 0.64);
  color: white;
  border-radius: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 50px;
}

