/* For home.js */
.main {
  padding: 20px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  grid-template-areas:
    "homeinterface usersinterface"
    "homeinterface usersinterface"
  ;
}

.homeinterface {
  grid-area: homeinterface;
  color: white;
  display: grid;
}

.usersinterface {
  grid-area: usersinterface;
  border-radius: 10px;
  padding: 10px;
  background-color: #e9e9f9;
}

.my-grid {
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  grid-template-areas: 
    "section-one"
    "section-two"
    "section-three"
  ;
}
.section-one {
  grid-area: section-one;
}
.section-two {
  grid-area: section-two;
}
.section-three {
  grid-area: section-three;
}
.icons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 4px;
  justify-items: center;
}
.icons-subgrid {
  width: 100px;
  height: auto;
  text-align: center;
}
.icon-background {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
}
.icon-background:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.icon-name {
  text-align: left;
}
.search-container {
  width: 100%;
}
.search-form {
  background-color:  rgba(136, 170, 170, 0.64);
  color: white;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 50px;
}
.all-users {
  background-color: palevioletred;
}
.male-users {
  background-color: blue;
}
.female-users {  
  background-color: purple;
}


/* For usersHeader.js */
.header-panel {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  grid-template-areas: 
    "text1 text1 text1"
    "text2 text2 text2"
    "text4 text5 text3"
  ;
}
.text1 {
  grid-area: text1;
}
.text2 {
  grid-area: text2;
}
.text3 {
  grid-area: text3;
}
.find-in-list {
  grid-area: text4;
  border-radius: 20px;
  padding-left: 5px;
  color: #191a1a;
  background-color: #838686;
  border: none;
}
.option-select {
  grid-area: text5;
  border-radius: 20px;
  color: #191a1a;
  background-color: #838686;
  border: none;
}


/* For usersList.js */
.content-panel {
  height: min-content;
  width: 100%;
  display: grid;
  grid-template-areas: 
  "left middle middle right"
  "left middle middle right"
  "left middle middle right"
  ;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
  margin: 10px 0;
}
.avatar-user-list {
  grid-area: left;
  border: 3px solid teal;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card-text {
  grid-area: middle;
}
.card-text p {
  padding: 1px;
  margin: 1px;
}
.arrow-bg {
  grid-area: right;
  height: 30px;
  width: 30px;
  background-color: teal;
  border-radius: 5px;
  justify-self: right;
  align-self: flex-end;
  display: grid;

  -webkit-box-shadow: 0 8px 6px -6px rgb(98, 189, 224);
	-moz-box-shadow: 0 8px 6px -6px rgb(98, 189, 224);
	box-shadow: 0 8px 6px -6px rgb(98, 189, 224);
}
.arrow {
  color: white;
  font-weight: bolder;
  font-size: x-large;
  margin: 0 auto;
  line-height: 1;
}


/* For usersDetail.js */
.user-detail {
  display: grid;
  grid-template-areas: 
  "avatar-user-detail text-user-detail text-user-detail text-user-detail"
  ;
  grid-gap: 10px;
}
.avatar-user-detail {
  grid-area: avatar-user-detail;
  border: 3px solid teal;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.text-user-detail {
  grid-area: text-user-detail;
  font-size: small;
  font-weight: lighter;
  align-self: flex-start;
}
.age {
  font-weight: lighter;
  margin-left: 10px;
}
.email {
  background-color: #d6d6d7;
  border-radius: 20px;
  padding-left: 5px;
}
.joined {
  background-color: #dbb1b896;
  border-radius: 20px;
  padding-left: 5px;
}


/* For Footer */
.footer {
  display: block;
  margin-top: 1rem;
}
.download {
  float: left;
  color: white;
  background-color: purple;
  padding: 5px 10px;
  border-radius: 20px;
}
.pagination {
  float: right;
}